h1 {
    background-color: coral;
    color: green;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.4em;
    text-align: center;
    border-radius: 30px;
  }
  
  .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  body {
    background-color: black;
    color: white;
    font: normal 20px Calibri;
    box-sizing: border-box;
    border-radius: 60px;
    line-height: 1.5em;
    margin: auto;
  }
  
  #img-div {
    background-color: #333;
    border: 10px dotted #ccc; 
    border-radius: 10px;
    padding: 20px;
    margin:20px 0;
  }
  
  #image {
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
  
  #img-caption {
    background-color: red;
    font: normal 18px Gilroy-Medium',Roboto,"Helvetica Neue;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5em;
    border-radius: 20px;
    margin: auto;
  }
  
  .box-2 {
    background-color: #555555;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 20px;
    height: 300px;
    list-style: squarre;
  }
  
  .box-2 h2{
    text-align: center;
    color: yellow;
  }
  
  .box-3 {
    background-color: rgb(0,0,140);
    width: 100%;
    max-width: 100%;
    border: 1px dotted #ccc;
    padding: 5px;
    border-radius: 20px;
    height: 400px;
  }
  
  .box-3 h2{
    text-align: center;
    color: orange;
  }
  
  
  
  